body {
	font-family: 'SF Pro Text';
	color: #030303;
	-webkit-font-smoothing: subpixel-antialiased;
	padding: 0;
}

body h1, body h2, body h3 {
	font-family: 'SF Pro Display';
	font-size: 28px;
	letter-spacing: .34px;
	word-spacing: .11px;
	font-weight: 500;
	color: #030303;
}

body h1.title, body h2.title, body h3.title {
	font-size: 34px;
	letter-spacing: .41px;
	word-spacing: .13px;
	font-weight: 600;
}

body h2 {
	font-size: 22px;
	letter-spacing: .28px;
	word-spacing: .16px;
}

body h3 {
	font-size: 20px;
	letter-spacing: .25px;
	word-spacing: .19px;
}

body p, body label, body .text-value {
	font: 17px "SF Pro Display";
	letter-spacing: .22px;
	line-height: 24px;
}

body p.headline, body label.headline, body .headline.text-value {
	color: #9B9B9B;
	font-weight: 600;
	margin-top: 0;
}

body footnote, body .text-sm {
	font-size: 13px;
	letter-spacing: .13px;
	line-height: 14px;
}

body label, body .text-value {
	margin-bottom: 0;
	line-height: 1;
}

.text {
	font: 16px "SF Pro Display";
	letter-spacing: .22px;
	line-height: 24px;
	margin-bottom: 0;
}

.text-group {
	display: flex;
	width: 100%;
	align-items: flex-end;
	align-self: center;
}

.text__time--from:after {
	background: url(../images/glyph/glyph-arrow-right.svg) no-repeat center center;
	width: 16px;
	height: 12px;
	content: '';
	display: inline-block;
	margin: 0 4px;
}

.text--headline {
	color: #030303;
	font-weight: 600;
	margin-right: 8px;
}

.text--callout {
	font-size: 16px;
	color: #4A4A4A;
}

.text--caption {
	font-size: 13px;
	color: #4A4A4A;
}

.text--default {
	letter-spacing: .22px;
	line-height: 24px;
	margin-bottom: 0;
	margin-top: 4px;
}

.text--secondary {
	line-height: 14px;
	margin-bottom: 4px;
	font-size: 12px;
}

.text--available {
	color: #60AD06;
}

.text--na {
	color: rgba(0, 0, 0, 0.1);
}

.text--link {
	color: #007AFF;
}

.text--warning {
	color: #D0021B;
}

.text--waitlist {
	color: #F76D1D;
}

.text--pickup {
	color: #4A90E2;
}

.text--dropoff {
	color: #417505;
}

@font-face {
font-family: 'SF Pro Display';
src: url("../fonts/SFProDisplay-Thin.eot");
src: url("../fonts/SFProDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Thin.woff2") format("woff2"), url("../fonts/SFProDisplay-Thin.woff") format("woff");
font-weight: 100;
font-style: normal;
}

@font-face {
font-family: 'SF Pro Display';
src: url("../fonts/SFProDisplay-RegularItalic.eot");
src: url("../fonts/SFProDisplay-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-RegularItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-RegularItalic.woff") format("woff");
font-weight: normal;
font-style: italic;
}

@font-face {
font-family: 'SF Pro Text';
src: url("../fonts/SFProText-SemiboldItalic.eot");
src: url("../fonts/SFProText-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProText-SemiboldItalic.woff2") format("woff2"), url("../fonts/SFProText-SemiboldItalic.woff") format("woff");
font-weight: 600;
font-style: italic;
}

@font-face {
font-family: 'SF UI Text';
src: url("../fonts/SFUIText-Light.eot");
src: url("../fonts/SFUIText-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Light.woff2") format("woff2"), url("../fonts/SFUIText-Light.woff") format("woff");
font-weight: 200;
font-style: normal;
}

@font-face {
font-family: 'SF UI Text';
src: url("../fonts/SFUIText-Medium.eot");
src: url("../fonts/SFUIText-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Medium.woff2") format("woff2"), url("../fonts/SFUIText-Medium.woff") format("woff");
font-weight: 500;
font-style: normal;
}

@font-face {
font-family: 'SF Pro Text';
src: url("../fonts/SFProText-HeavyItalic.eot");
src: url("../fonts/SFProText-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProText-HeavyItalic.woff2") format("woff2"), url("../fonts/SFProText-HeavyItalic.woff") format("woff");
font-weight: 900;
font-style: italic;
}

@font-face {
font-family: 'SF UI Text';
src: url("../fonts/SFUIText-MediumItalic.eot");
src: url("../fonts/SFUIText-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-MediumItalic.woff2") format("woff2"), url("../fonts/SFUIText-MediumItalic.woff") format("woff");
font-weight: 500;
font-style: italic;
}

@font-face {
font-family: 'SF Pro Display';
src: url("../fonts/SFProDisplay-Black.eot");
src: url("../fonts/SFProDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Black.woff2") format("woff2"), url("../fonts/SFProDisplay-Black.woff") format("woff");
font-weight: 900;
font-style: normal;
}

@font-face {
font-family: 'SF UI Text';
src: url("../fonts/SFUIText-LightItalic.eot");
src: url("../fonts/SFUIText-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-LightItalic.woff2") format("woff2"), url("../fonts/SFUIText-LightItalic.woff") format("woff");
font-weight: 200;
font-style: italic;
}

@font-face {
font-family: 'SF UI Display';
src: url("../fonts/SFUIDisplay-Light.eot");
src: url("../fonts/SFUIDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIDisplay-Light.woff2") format("woff2"), url("../fonts/SFUIDisplay-Light.woff") format("woff");
font-weight: 200;
font-style: normal;
}

@font-face {
font-family: 'SF UI Text';
src: url("../fonts/SFUIText-SemiboldItalic.eot");
src: url("../fonts/SFUIText-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-SemiboldItalic.woff2") format("woff2"), url("../fonts/SFUIText-SemiboldItalic.woff") format("woff");
font-weight: 600;
font-style: italic;
}

@font-face {
font-family: 'SF Pro Display';
src: url("../fonts/SFProDisplay-BoldItalic.eot");
src: url("../fonts/SFProDisplay-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BoldItalic.woff") format("woff");
font-weight: bold;
font-style: italic;
}

@font-face {
font-family: 'SF Pro Display';
src: url("../fonts/SFProDisplay-UltralightItalic.eot");
src: url("../fonts/SFProDisplay-UltralightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-UltralightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-UltralightItalic.woff") format("woff");
font-weight: 200;
font-style: italic;
}

@font-face {
font-family: 'SF UI Text';
src: url("../fonts/SFUIText-Semibold.eot");
src: url("../fonts/SFUIText-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Semibold.woff2") format("woff2"), url("../fonts/SFUIText-Semibold.woff") format("woff");
font-weight: 600;
font-style: normal;
}

@font-face {
font-family: 'SF Pro Display';
src: url("../fonts/SFProDisplay-Light.eot");
src: url("../fonts/SFProDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff");
font-weight: 200;
font-style: normal;
}

@font-face {
font-family: 'SF Pro Display';
src: url("../fonts/SFProDisplay-HeavyItalic.eot");
src: url("../fonts/SFProDisplay-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-HeavyItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-HeavyItalic.woff") format("woff");
font-weight: 900;
font-style: italic;
}

@font-face {
font-family: 'SF Pro Display';
src: url("../fonts/SFProDisplay-Regular.eot");
src: url("../fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'SF UI Display';
src: url("../fonts/SFUIDisplay-Medium.eot");
src: url("../fonts/SFUIDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIDisplay-Medium.woff2") format("woff2"), url("../fonts/SFUIDisplay-Medium.woff") format("woff");
font-weight: 500;
font-style: normal;
}

@font-face {
font-family: 'SF UI Display';
src: url("../fonts/SFUIDisplay-Thin.eot");
src: url("../fonts/SFUIDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIDisplay-Thin.woff2") format("woff2"), url("../fonts/SFUIDisplay-Thin.woff") format("woff");
font-weight: 100;
font-style: normal;
}

@font-face {
font-family: 'SF UI Text';
src: url("../fonts/SFUIText-Heavy.eot");
src: url("../fonts/SFUIText-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Heavy.woff2") format("woff2"), url("../fonts/SFUIText-Heavy.woff") format("woff");
font-weight: 900;
font-style: normal;
}

@font-face {
font-family: 'SF UI Display';
src: url("../fonts/SFUIDisplay-Semibold.eot");
src: url("../fonts/SFUIDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Semibold.woff") format("woff");
font-weight: 600;
font-style: normal;
}

@font-face {
font-family: 'SF Pro Text';
src: url("../fonts/SFProText-Regular.eot");
src: url("../fonts/SFProText-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProText-Regular.woff2") format("woff2"), url("../fonts/SFProText-Regular.woff") format("woff");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'SF UI Display';
src: url("../fonts/SFUIDisplay-Regular.eot");
src: url("../fonts/SFUIDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"), url("../fonts/SFUIDisplay-Regular.woff") format("woff");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'SF UI Text';
src: url("../fonts/SFUIText-Bold.eot");
src: url("../fonts/SFUIText-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Bold.woff2") format("woff2"), url("../fonts/SFUIText-Bold.woff") format("woff");
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: 'SF UI Display';
src: url("../fonts/SFUIDisplay-Ultralight.eot");
src: url("../fonts/SFUIDisplay-Ultralight.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIDisplay-Ultralight.woff2") format("woff2"), url("../fonts/SFUIDisplay-Ultralight.woff") format("woff");
font-weight: 200;
font-style: normal;
}

@font-face {
font-family: 'SF UI Display';
src: url("../fonts/SFUIDisplay-Heavy.eot");
src: url("../fonts/SFUIDisplay-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIDisplay-Heavy.woff2") format("woff2"), url("../fonts/SFUIDisplay-Heavy.woff") format("woff");
font-weight: 900;
font-style: normal;
}

@font-face {
font-family: 'SF UI Text';
src: url("../fonts/SFUIText-HeavyItalic.eot");
src: url("../fonts/SFUIText-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-HeavyItalic.woff2") format("woff2"), url("../fonts/SFUIText-HeavyItalic.woff") format("woff");
font-weight: 900;
font-style: italic;
}

@font-face {
font-family: 'SF Pro Display';
src: url("../fonts/SFProDisplay-MediumItalic.eot");
src: url("../fonts/SFProDisplay-MediumItalic.eot?#iefix") format("embedded-opentype"), url("SFProDisplay-MediumItalic.woff2") format("woff2"), url("SFProDisplay-MediumItalic.woff") format("woff");
font-weight: 500;
font-style: italic;
}

@font-face {
font-family: 'SF UI Text';
src: url("../fonts/SFUIText-BoldItalic.eot");
src: url("../fonts/SFUIText-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-BoldItalic.woff2") format("woff2"), url("../fonts/SFUIText-BoldItalic.woff") format("woff");
font-weight: bold;
font-style: italic;
}

@font-face {
font-family: 'SF Pro Text';
src: url("../fonts/SFProText-RegularItalic.eot");
src: url("../fonts/SFProText-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProText-RegularItalic.woff2") format("woff2"), url("../fonts/SFProText-RegularItalic.woff") format("woff");
font-weight: normal;
font-style: italic;
}

@font-face {
font-family: 'SF Pro Display';
src: url("../fonts/SFProDisplay-Medium.eot");
src: url("../fonts/SFProDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
font-weight: 500;
font-style: normal;
}

@font-face {
font-family: 'SF Pro Text';
src: url("../fonts/SFProText-Light.eot");
src: url("../fonts/SFProText-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProText-Light.woff2") format("woff2"), url("../fonts/SFProText-Light.woff") format("woff");
font-weight: 200;
font-style: normal;
}

@font-face {
font-family: 'SF UI Display';
src: url("../fonts/SFUIDisplay-Bold.eot");
src: url("../fonts/SFUIDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIDisplay-Bold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Bold.woff") format("woff");
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: 'SF Pro Display';
src: url("../fonts/SFProDisplay-SemiboldItalic.eot");
src: url("../fonts/SFProDisplay-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-SemiboldItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-SemiboldItalic.woff") format("woff");
font-weight: 600;
font-style: italic;
}

@font-face {
font-family: 'SF Pro Display';
src: url("../fonts/SFProDisplay-ThinItalic.eot");
src: url("../fonts/SFProDisplay-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-ThinItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-ThinItalic.woff") format("woff");
font-weight: 100;
font-style: italic;
}

@font-face {
font-family: 'SF Pro Display';
src: url("../fonts/SFProDisplay-BlackItalic.eot");
src: url("../fonts/SFProDisplay-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-BlackItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-BlackItalic.woff") format("woff");
font-weight: 900;
font-style: italic;
}

@font-face {
font-family: 'SF Pro Text';
src: url("../fonts/SFProText-LightItalic.eot");
src: url("../fonts/SFProText-LightItalic.eot?#iefix") format("embedded-opentype"), url("SFProText-LightItalic.woff2") format("woff2"), url("SFProText-LightItalic.woff") format("woff");
font-weight: 200;
font-style: italic;
}

@font-face {
font-family: 'SF Pro Display';
src: url("../fonts/SFProDisplay-Heavy.eot");
src: url("../fonts/SFProDisplay-Heavy.eot?#iefix") format("embedded-opentype"), url("SFProDisplay-Heavy.woff2") format("woff2"), url("SFProDisplay-Heavy.woff") format("woff");
font-weight: 900;
font-style: normal;
}

@font-face {
font-family: 'SF Pro Display';
src: url("../fonts/SFProDisplay-Bold.eot");
src: url("../fonts/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("SFProDisplay-Bold.woff2") format("woff2"), url("SFProDisplay-Bold.woff") format("woff");
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: 'SF Pro Display';
src: url("../fonts/SFProDisplay-LightItalic.eot");
src: url("../fonts/SFProDisplay-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-LightItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-LightItalic.woff") format("woff");
font-weight: 200;
font-style: italic;
}

@font-face {
font-family: 'SF Pro Display';
src: url("../fonts/SFProDisplay-Semibold.eot");
src: url("../fonts/SFProDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff");
font-weight: 600;
font-style: normal;
}

@font-face {
font-family: 'SF Pro Text';
src: url("../fonts/SFProText-Medium.eot");
src: url("../fonts/SFProText-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProText-Medium.woff2") format("woff2"), url("../fonts/SFProText-Medium.woff") format("woff");
font-weight: 500;
font-style: normal;
}

@font-face {
font-family: 'SF UI Text';
src: url("../fonts/SFUIText-RegularItalic.eot");
src: url("../fonts/SFUIText-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-RegularItalic.woff2") format("woff2"), url("../fonts/SFUIText-RegularItalic.woff") format("woff");
font-weight: normal;
font-style: italic;
}

@font-face {
font-family: 'SF Pro Text';
src: url("../fonts/SFProText-Bold.eot");
src: url("../fonts/SFProText-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProText-Bold.woff2") format("woff2"), url("../fonts/SFProText-Bold.woff") format("woff");
font-weight: bold;
font-style: normal;
}

@font-face {
font-family: 'SF UI Display';
src: url("../fonts/SFUIDisplay-Black.eot");
src: url("../fonts/SFUIDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIDisplay-Black.woff2") format("woff2"), url("../fonts/SFUIDisplay-Black.woff") format("woff");
font-weight: 900;
font-style: normal;
}

@font-face {
font-family: 'SF UI Text';
src: url("../fonts/SFUIText-Regular.eot");
src: url("../fonts/SFUIText-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIText-Regular.woff2") format("woff2"), url("../fonts/SFUIText-Regular.woff") format("woff");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'SF Pro Text';
src: url("../fonts/SFProText-Semibold.eot");
src: url("../fonts/SFProText-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProText-Semibold.woff2") format("woff2"), url("../fonts/SFProText-Semibold.woff") format("woff");
font-weight: 600;
font-style: normal;
}

@font-face {
font-family: 'SF Pro Text';
src: url("../fonts/SFProText-Heavy.eot");
src: url("../fonts/SFProText-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProText-Heavy.woff2") format("woff2"), url("../fonts/SFProText-Heavy.woff") format("woff");
font-weight: 900;
font-style: normal;
}

@font-face {
font-family: 'SF Pro Display';
src: url("../fonts/SFProDisplay-Ultralight.eot");
src: url("../fonts/SFProDisplay-Ultralight.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProDisplay-Ultralight.woff2") format("woff2"), url("../fonts/SFProDisplay-Ultralight.woff") format("woff");
font-weight: 200;
font-style: normal;
}

@font-face {
font-family: 'SF Pro Text';
src: url("../fonts/SFProText-MediumItalic.eot");
src: url("../fonts/SFProText-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProText-MediumItalic.woff2") format("woff2"), url("../fonts/SFProText-MediumItalic.woff") format("woff");
font-weight: 500;
font-style: italic;
}

@font-face {
font-family: 'SF Pro Text';
src: url("../fonts/SFProText-BoldItalic.eot");
src: url("../fonts/SFProText-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SFProText-BoldItalic.woff2") format("woff2"), url("../fonts/SFProText-BoldItalic.woff") format("woff");
font-weight: bold;
font-style: italic;
}

.form-group--radio {
	width: 100%;
	display: flex;
	align-items: center;
	margin-left: 32px;
}

.form-control--radio {
	display: flex;
	align-items: center;
}

.form-control--radio input[type="radio"] {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.form-control--radio input[type="radio"] + span:before {
	transition: all .24s ease;
	content: '';
	display: block;
	position: absolute;
	left: 16px;
	width: 22px;
	height: 22px;
	background-color: #fff;
	vertical-align: -5px;
	border-radius: 40px;
	top: calc(50% - 11px);
	box-shadow: inset 0px 0px 0px 0px #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control--radio input[type="radio"]:checked + span:before {
	background: #007AFF;
	box-shadow: inset 0px 0px 0px 4px #ffffff;
	border-color: #007AFF;
}

.form-control--switch {
	width: 100%;
	display: flex;
	align-items: center;
	height: 44px;
}

.form-control--switch span {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.form-control--switch input[type="checkbox"] {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.form-control--switch input[type="checkbox"] + span:after, .form-control--switch input[type="checkbox"] + span:before {
	transition: all .24s ease;
	content: '';
	display: block;
	position: absolute;
	right: 0;
	width: 51px;
	height: 31px;
	background-color: #fff;
	vertical-align: -5px;
	margin-right: 16px;
	border-radius: 40px;
	top: calc(50% - 14.5px);
	box-shadow: inset 0px 0px 0px 0px #4CD964;
}

.form-control--switch input[type="checkbox"] + span:after {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control--switch input[type="checkbox"] + span:before {
	right: 21px;
	width: 28px;
	height: 28px;
	margin-top: 1px;
	z-index: 2;
	margin-right: 17px;
    /* Knob: */
	background: #FFFFFF;
	box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.01), 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
	border: 1px solid rgba(0, 0, 0, 0.05);
}

.form-control--switch input[type="checkbox"]:checked + span:after {
	box-shadow: inset 0px 0px 0px 30px #4CD964;
	border: 1px solid #4CD964;
	z-index: 1;
}

.form-control--switch input[type="checkbox"]:checked + span:before {
	background: #fff;
	border-radius: 30px;
	transform: translate3d(20px, 0, 0);
}

.form-control--input {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.form-control--input label {
	width: 100%;
}

.form-control--input input, .form-control--input select {
	width: 100%;
	padding-left: 16px;
	font: 17px "SF Pro Display";
	padding: 0 16px 0 16px;
	background: url(../images/glyph/glyph-carot.svg) no-repeat center right transparent;
	border: none;
	transition: background .3s ease-in-out;
	text-indent: 2px;
	appearance: none;
	-webkit-appearance: none;
	text-decoration: none;
}

.form-control--input input:focus, .form-control--input select:focus {
	outline: none;
	background: url(../images/glyph/glyph-carot.svg) no-repeat 110% center transparent;
}

.form-control--input .text--primary {
	width: 100%;
}

.form-control--input input[type=date] {
	text-align: right;
	display: flex;
	position: relative;
	width: 100%;
}

.form-control--input input[type=date]::-webkit-inner-spin-button {
	background: red;
	display: none;
}

.form-control--input input[type=date]::-webkit-calendar-picker-indicator {
	display: none;
}

.form-control--input input[type=date]:focus::-webkit-clear-button {
	display: block;
}

.form-control--input input[type=date]::-webkit-clear-button {
	display: none;
}

.form-group--toggle {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.form-group--label {
	width: 100%;
}

.form-control--toggle {
	display: flex;
	align-items: center;
	height: 44px;
	justify-content: flex-end;
	padding: 4px 0;
}

.form-control--toggle:first-child span {
	border-radius: 4px 0 0 4px;
	border: 0.5px solid #007AFF;
	border-right: .5px solid #fff;
}

.form-control--toggle:last-child span {
	border-radius: 0 4px 4px 0;
	border: 0.5px solid #007AFF;
}

.form-control--toggle span {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 8px;
}

.form-control--toggle input[type="radio"] {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.form-control--toggle input[type="radio"] + span {
	background-color: #fff;
	font-size: 13px;
	color: #007AFF;
	transition: all .22s ease-in-out;
}

.form-control--toggle input[type="radio"]:checked + span {
	background-color: #007AFF;
	border: 0.5px solid #007AFF;
	color: #ffffff;
}

.btn {
	padding: 15px 16px;
	text-transform: uppercase;
	transition: all .22s;
	font-size: 17px;
	letter-spacing: 1px;
	font-weight: normal;
	border-radius: 12px;
}

.btn:focus {
	outline: none !important;
}

.btn--xs {
	padding: 4px 8px;
	font-size: 11px;
}

.btn--block {
	width: 100%;
	padding: 15px 16px;
}

.btn--rounded {
	border-radius: 10.5px;
}

.btn--primary {
	background: #007AFF;
	border: 1px solid #007AFF;
	color: #ffffff;
}

.btn--default {
	background: transparent;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: #9B9B9B;
}

.btn--default:hover {
	background: rgba(0, 0, 0, 0.1);
	outline: none;
}

.btn--book {
	background: #60AD06;
	border: 1px solid #60AD06;
	color: #ffffff !important;
	border-radius: 8px !important;
}

.btn--book:active {
	background: #539707;
	color: #ffffff;
	outline: none;
}

@media only screen and (max-width: 993px) {
	/*	
	.ios .modal-backdrop.fade.in, .ios .modal-backdrop{
		display: none!important;
	}
	
	.fade, .fade.in {
		opacity: 1!important;
	}
	
	.modal.fade .modal-dialog {
		-webkit-transform: translate3d(0, 100%,0)!important;
		-ms-transform: translate3d(0, 100%,0)!important;
		transform: translate3d(0, 100%,0)!important;
		transition: transform .4s ease-in-out, opacity 0s sease-in-out!important;
		opacity: 1;
	}
	.modal.in .modal-dialog {
		-webkit-transform: translate3d(0, 0, 0)!important;
		-ms-transform: translate3d(0, 0, 0)!important;
		transform: translate(0, 0, 0)!important;
		transition: transform .4s ease-in-out, opacity 0s ease-in-out!important;
		opacity: 1!important;
	}
	
	.modal{
		overflow-y: none!important;
		overflow: hidden!important;
		.mobile--fullscreen {
			margin: 0;
			height: auto;
			position: absolute;
			width: 100%;
			bottom: 0;
			top: 0;
			background: #fff;
		}
	}
	
	.mobile--fullscreen {
	transition: transform .4s ease-in-out!important;
		.modal {
			&-dialog {
				width: 100%!important;
				margin: 0;
				top: 0;
				box-shadow: none;
				
			}
			
			&-body {
			max-height: 100vh;
			width: 100%;
			overflow-y: auto;
			position: absolute;
			top: 0px;
			bottom: 0px;
			padding: 0;
			-webkit-overflow-scrolling: touch;
				.content {
					padding: 64px 16px 8px;	
				}
			}
			&-content {
			padding: 0;
			width: 100%!important;
			border: none;
			border-radius: 0;
			box-shadow: none;
			height: 100vh;
			}
			&-footer {
				bottom: 0;
				position: fixed;
				width: 100%;
				height: 64px;
				padding:0;
				margin-top: 0;
				display: flex;
				z-index: 100;
				background: rgba(255,255,255,.54);
				-webkit-backdrop-filter:blur(20px);
				padding-bottom: env(safe-area-inset-bottom);
				
				.btn {
					width: 100%;
					margin: 8px;
				}
			}
		}
	}*/
}

.mast__map {
	padding-bottom: 24px;
	position: relative;
}

.mast__map:after {
	position: absolute;
	background-color: #fff;
	height: 55px;
	content: '';
	width: auto;
	left: 0px;
	right: 0px;
	bottom: 0;
	z-index: 1;
}

.mast__map #map {
	height: 181px;
	width: 100%;
	border-radius: 12px;
	box-shadow: 0 -16px 24px -20px rgba(0, 0, 0, 0.25), 0 10px 20px -10px rgba(74, 74, 74, 0.74);
	position: relative;
	z-index: 3;
}

@media only screen and (min-width: 993px) {
	.mast__map {
		padding-bottom: 0px;
		margin-bottom: 24px;
	}
	
	.mast__map:after {
		display: none;
	}
	
	.mast__map #map {
		height: 100%;
		width: 100%;
	}
}

.cell {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 16px;
	position: relative;
	min-height: 44px;
}

.cell--location {
	min-height: 55px;
}

.cell--carot {
	margin-right: 32px;
}

.cell__label {
	min-width: 56px;
	width: 25%;
}

.cell__group {
	width: 100%;
	align-items: center;
}

.cell__group--options {
	text-align: right;
	flex-shrink: 1;
}

.cell__group--align-right {
	text-align: right;
	justify-content: flex-end;
}

.cell__group--align-left {
	text-align: left;
	justify-content: flex-start;
	width: 100%;
}

.cell__group--list {
	display: flex;
	align-items: center;
}

.cell__group--list .text {
	display: flex;
	align-items: center;
}

.cell__group--list .text:after {
	width: 3px;
	height: 3px;
	background: url(../images/glyph/glyph-disc.svg);
	display: block;
	content: '';
	margin: 0 4px;
}

.cell__group--list .text:last-child:after {
	display: none;
}

.cell--clickable {
	background: url(../images/glyph/glyph-carot.svg) center no-repeat;
	background-position-x: calc(100% - 16px);
}

.cell:after {
	height: 1px;
	content: '';
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
	position: absolute;
	bottom: 0;
	right: 0;
	left: 16px;
}

.cell:last-child:after {
	display: none;
}

.cell--form-group {
	max-height: 44px;
}

--wide, --full {
	margin: 0 -8px 24px;
	border-radius: 6px;
}

--wide .cell, --full .cell {
	padding: 16px;
}

--wide .cell--clickable, --full .cell--clickable {
	background: url(../images/glyph/glyph-carot.svg) center no-repeat;
	background-position-x: calc(100% - 8px);
}

@media only screen and (max-width: 993px) {
	.module--wide .cell {
		padding: 8px 16px;
	}
	
	.module--wide .cell--clickable {
		background-position-x: calc(100% - 16px);
		padding: 8px 40px 8px 16px;
	}
	
	.module--full .cell {
		padding: 8px 24px;
	}
	
	.module--full .cell--clickable {
		background-position-x: calc(100% - 16px);
	}
	
	.module--full .cell:after {
		margin-left: 8px;
	}
}

/*Cell Module*/

.module {
	box-shadow: 0 -16px 12px -20px rgba(0, 0, 0, 0.25), 0 5px 10px -5px rgba(74, 74, 74, 0.74);
	border-radius: 12px;
	margin: 0 0 24px;
	position: relative;
	z-index: 2;
}

.module__divider h4 {
	font-size: 13px;
	color: #6D6D72;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 6px;
	margin-top: 38px;
}

.module__note {
	margin-top: -16px;
}

.module__note small {
	font-size: 13px;
	color: #6D6D72;
	display: block;
}

.module--disabled .module__header--day {
	background-color: #EFEFF4;
	border: 0.5px solid rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: space-between;
}

.module--wide, .module--full {
	margin: 0 0px 24px;
	border-radius: 6px;
}

.module__header {
	display: flex;
	max-height: 55px;
	margin-bottom: -16px;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	border-radius: 12px 12px 0 0;
	color: #ffffff;
	font-size: 13px;
	letter-spacing: .13px;
	line-height: 14px;
	font-weight: 600;
	padding: 8px 16px 24px;
	position: relative;
	z-index: 0;
}

.module__header--commuter {
	background-image: linear-gradient(-90deg, #C32AFF 0%, #9013FE 100%);
}

.module__header--fixed {
	background-image: linear-gradient(-90deg, #C32AFF 0%, #9013FE 100%);
}

.module__header--demand {
	background-image: linear-gradient(-90deg, #C32AFF 0%, #9013FE 100%);
}

.module__header--title {
	font-weight: 900;
	text-transform: uppercase;
}

.module__header--date {
	font-weight: 500;
	text-align: right;
}

.module__header--day {
	background: #ffffff;
	padding: 16px;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
	max-height: auto;
	border-radius: 6px 5px 0 0;
}

.module__body, .module__body--wide, .module__body--full {
	background-color: #ffffff;
	border-radius: 12px;
	position: relative;
	z-index: 1;
	padding: 8px 0;
}

.module__body--wide, .module__body--full {
	border-radius: 6px;
	padding: 0;
}

.module__body--carot {
	padding-right: 40px;
}

.module__body--carot:after {
	background: url(../images/glyph/glyph-carot.svg);
	width: 8px;
	height: 13px;
	content: '';
	position: absolute;
	right: 16px;
	top: 50%;
	margin-top: -9px;
}

.module .module__header--day:only-child {
	border-radius: 6px;
}

.module .module__header--day ~ .module__body, .module .module__header--day ~ .module__body--wide, .module .module__header--day ~ .module__body--full {
	border-radius: 0 !important;
}

.module__footer {
	background: #ffffff;
	border-top: 0.5px solid rgba(0, 0, 0, 0.25);
	border-radius: 0 0 6px 6px;
}

.module .module__body--carot .cell {
	padding-right: 0;
}

@media only screen and (max-width: 993px) {
	.module--full {
		margin: 0 -16px 24px;
		border-radius: 0;
		box-shadow: none;
		border-top: 0.5px solid rgba(0, 0, 0, 0.25);
		border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
		padding: 0;
		background: #ffffff;
	}
	
	.module--full.module--mast {
		border-top: none;
	}
	
	.module--wide {
		margin: 0 -8px 24px;
		border-radius: 0;
		padding: 0;
	}
	
	.module__body--full {
		background-color: #ffffff;
		border-radius: 12px;
		position: relative;
		z-index: 1;
		border-radius: 0;
		padding: 0;
	}
}

.header__desktop {
	transition: all .6s;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	background: #efeef3;
	border-bottom: 0.5px solid transparent;
	-webkit-backdrop-filter: blur(20px);
	padding: 4px 16px;
}

.header__desktop nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 0px;
	z-index: 100;
}

.header__desktop nav a {
	padding: 16px;
}

.header__desktop .header-group {
	width: 100%;
	margin-bottom: 0;
}

.header__desktop .header-group .title {
	font-size: 17px;
}

.header__desktop .header-group .headline {
	margin-bottom: 0;
	font-size: 14px;
}

.header__desktop .header__branding {
	display: flex;
	align-items: center;
}

.header__desktop .header__logo {
	width: 120px;
	height: 60px;
	background: pink;
	display: block;
	margin-right: 16px;
}

.header__desktop nav a.menu {
	background: url(../images/nav/tab-5-inactive.svg) no-repeat center;
	text-indent: -10000px;
}

.scrolled .header__desktop {
	background: rgba(255, 255, 255, 0.84);
	transition: background .65s, opacity .65s, -webkit-backdrop-filter 0s;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
	-webkit-backdrop-filter: blur(10px);
}

.header__mobile {
	transition: all .6s;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 10;
	min-height: 64px;
	display: flex;
	align-items: flex-end;
	background: #efeef3;
	border-bottom: 0.5px solid transparent;
	-webkit-backdrop-filter: blur(20px);
	padding-top: env(safe-area-inset-top);
}

.header__mobile:before {
	content: '';
	height: env(safe-area-inset-top);
	top: 0;
	display: block;
	background: rgba(0, 121, 255, 0.58);
	position: fixed;
	width: 100%;
}

.header__mobile nav {
	padding-top: 16px;
	padding-top: -safe-area-inset-top;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0px;
	z-index: 100;
}

.header__mobile nav a {
	color: #007AFF;
	font-size: 17px;
	height: 44px;
	align-items: center;
	display: flex;
}

.header__mobile nav a.left {
	background: url(../images/nav/glyph-header-right.svg) no-repeat 9px center;
	padding-left: 26px;
	padding-right: 15px;
}

.header__mobile nav a.right {
	padding-right: 9px;
	padding-left: 15px;
}

.header__mobile .header-group-stuck {
	opacity: 0;
	transition: background .2s, opacity .2s, border-bottom .2s, -webkit-backdrop-filter .2s;
	text-align: center;
	align-self: center;
}

.header__mobile .header-group-stuck .title {
	font-size: 17px;
	color: #4A4A4A;
}

.header__mobile .header-group-stuck .headline {
	margin-bottom: 0;
	font-size: 13px;
	color: #4A4A4A;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 15px;
	padding-bottom: 5px;
}

.header__mobile .header-group-stuck {
	align-self: flex-end;
	opacity: 0;
}

.header__mobile .header-group-stuck .title {
	font-size: 17px;
	margin: 0;
}

.header__mobile .header-group-stuck .headline {
	font-size: 12px;
}

.scrolled .header__mobile {
	transition: background .65s, opacity .65s, -webkit-backdrop-filter 0s;
	background: rgba(255, 255, 255, 0.9);
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
}

.scrolled .header__mobile .header-group-stuck {
	opacity: 1;
}

.scrolled .header__mobile .header-group {
	opacity: 0;
	transition: all 1s;
}

.scroll--locked {
	background: rgba(255, 255, 255, 0.54);
}

.scroll--locked .header-group {
	opacity: 1;
}

.scroll--locked .header-group-stuck {
	opacity: 1;
}

.header-group {
	transition: all .3s;
}

.position {
	position: -webkit-sticky;
	bottom: 210px;
	left: 0;
	z-index: 10000;
}

@media only screen and (max-width: 993px) {
	.header-group {
		padding: 0 16px !important;
	}
}

footer {
	display: flex;
	position: fixed;
	width: 100%;
	bottom: 0px;
	background-color: rgba(255, 255, 255, 0.9);
	-webkit-backdrop-filter: blur(10px);
	padding-bottom: env(safe-area-inset-bottom);
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
	z-index: 100;
	box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

footer nav {
	display: flex;
	padding-top: 4px;
	padding-bottom: 16px;
	margin-bottom: env(safe-area-inset-bottom);
}

footer nav a:hover {
	text-decoration: none;
	cursor: pointer;
}

footer nav > div {
	width: 100%;
	text-align: center;
	align-self: stretch;
	font-size: 11px;
	font-weight: 50000;
	text-align: center;
}

footer nav .active .tab-title {
	color: #007AFF;
}

footer nav .active .tab-icon {
	background: url(../images/nav/tab-1-active.svg) no-repeat center;
}

footer nav .tab-title {
	color: #9B9B9B;
}

footer nav .tab-title:hover {
	color: #007AFF;
}

footer nav .commuter .tab-icon, footer nav .fixed .tab-icon, footer nav .demand .tab-icon, footer nav .trips .tab-icon, footer nav .menu .tab-icon {
	background: url(../images/nav/tab-1-inactive.svg) no-repeat center;
	height: 23px;
	width: 48px;
	display: block;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 2px;
}

footer nav .commuter.active .tab-icon, footer nav .active.fixed .tab-icon, footer nav .active.demand .tab-icon, footer nav .active.trips .tab-icon, footer nav .active.menu .tab-icon {
	background: url(../images/nav/tab-1-active.svg) no-repeat center;
}

footer nav .fixed .tab-icon {
	background: url(../images/nav/tab-3-inactive.svg) no-repeat center;
}

footer nav .fixed.active .tab-icon {
	background: url(../images/nav/tab-3-active.svg) no-repeat center;
}

footer nav .demand .tab-icon {
	background: url(../images/nav/tab-2-inactive.svg) no-repeat center;
}

footer nav .demand.active .tab-icon {
	background: url(../images/nav/tab-2-active.svg) no-repeat center;
}

footer nav .trips .tab-icon {
	background: url(../images/nav/tab-4-inactive.svg) no-repeat center;
}

footer nav .trips.active .tab-icon {
	background: url(../images/nav/tab-4-active.svg) no-repeat center;
}

footer nav .menu .tab-icon {
	background: url(../images/nav/tab-5-inactive.svg) no-repeat center;
}

footer nav .menu.active .tab-icon {
	background: url(../images/nav/tab-5-active.svg) no-repeat center;
}

/*.cal__wrapper {
	position: absolute;
	height: 300px;
	top: 0;
	.carousel-scroll {
			width: calc(75vw * 3);
			display: flex;
			overflow: hidden;
			z-index: 100;
			position: absolute;
			justify-content: center;
			overflow: hidden;
			flex-shrink: 0;
			top: 84px;
			.item{
				min-width: 75vw;
				height: 244px;
				display: block;
				padding: 16px 24px;
				float:left;
				
				.box1 {
					/* Rectangle 15: *!/
					background-image: linear-gradient(-168deg, #4A90E2 0%, #7BB8FF 100%);
					box-shadow: 0 -16px 24px -20px rgba(0,0,0,0.25), 0 10px 20px -10px rgba(74,74,74,0.74);
					border-radius: 12px;
					box-shadow: 0 -16px 24px -20px rgba(0, 0, 0, 0.25), 0px 10px 20px -10px rgba(0, 0, 0, 0.5);
					height: 100%;
					border-radius: 12px;
				}
				.box2 {
						/* Rectangle 15: *!/
						background-image: linear-gradient(-180deg, #FAD961 0%, #F76B1C 100%);
						box-shadow: 0 -16px 24px -20px rgba(0, 0, 0, 0.25), 0px 10px 20px -10px rgba(0, 0, 0, 0.5);
						border-radius: 12px;
						height: 100%;
						
				}
				.box3 {
					height: 100%;
					border-radius: 12px;
					box-shadow: 0 -16px 24px -20px rgba(0, 0, 0, 0.25), 0px 10px 20px -10px rgba(0, 0, 0, 0.5);
					/* Rectangle 15: *!/
					background-image: linear-gradient(-179deg, #3023AE 0%, #C86DD7 100%);
	
				}	
			}
		}
}

#mast {
	position: relative;
	margin: 0 -16px;
	height: 244px;
	position: relative;
	display: none;
}

#mast-wrapper {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	width: 100%;
	background: #EFEFF4;
	overflow: hidden;
	z-index: 0;
	height: 300px;

}
*/

.cal__placeholder {
	height: 120px;
}

.owl-stage {
	position: relative;
}

.owl-next {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	background: url(../images/glyph/glyph-carot.svg) no-repeat center center;
}

.owl-prev {
	position: absolute;
	left: 0;
	height: 100%;
	top: 0;
	background: url(../images/glyph/glyph-carot.svg) no-repeat center center;
	transform: rotateZ(180deg);
}

.owl-item {
	margin: 0 !important;
}

.owl-stage-outer {
	background: rgba(255, 255, 255, 0.54);
	border-bottom: 0.5px solid transparent;
	-webkit-backdrop-filter: blur(20px);
}

.cal {
	position: fixed;
	top: 63px;
	z-index: 100;
	height: 68px;
	width: auto;
	left: 0;
	right: 0;
	width: 100vw;
}

.cal__week {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 16px;
	margin-bottom: 32px;
}

.cal__day {
	margin-top: 24px;
	text-align: center;
	width: 48px;
	height: 48px;
	display: flex;
	flex-wrap: wrap;
	margin: 1px;
}

.cal__day--active {
	box-shadow: 0 5px 10px -6px rgba(74, 74, 74, 0.54);
	border-radius: 3px;
	background: #ffffff;
}

.cal__day--inactive .day__number {
	color: rgba(74, 74, 74, 0.74);
}

.cal__day--inactive .day__name {
	color: rgba(74, 74, 74, 0.74);
}

.cal__day--disabled .day__number {
	color: rgba(0, 0, 0, 0.1);
}

.cal__day--disabled .day__name {
	color: rgba(0, 0, 0, 0.1);
}

.indicator__page {
	display: flex;
	height: 6px;
	justify-content: space-between;
	width: 80px;
	margin: 0 auto;
	margin-top: 0px;
	position: absolute;
	bottom: 8px;
	left: 50%;
	margin-left: -40px;
}

.indicator__disc {
	width: 4px;
	height: 4px;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 6px;
}

.indicator__disc--active {
	background: #030303;
}

.indicator__carot, .indicator__carot--left, .indicator__carot--right {
	position: absolute;
	height: 100%;
	top: 0;
	background: url(../images/glyph/glyph-carot.svg) no-repeat center center;
	text-indent: -10000px;
	display: block;
	width: 16px;
}

.indicator__carot--left {
	position: absolute;
	left: 8px;
	transform: rotateZ(180deg);
}

.indicator__carot--right {
	position: absolute;
	right: 8px;
}

.day__number {
	font-size: 17px;
	color: #000000;
	display: block;
	width: 100%;
	line-height: 20px;
	margin-top: 5px;
}

.day__name {
	/* MON: */
	font-size: 11px;
	color: #000000;
	text-transform: uppercase;
	display: block;
	width: 100%;
	line-height: 13px;
	margin-bottom: 5px;
}

body, html {
	background: #EFEFF4;
	-webkit-font-smoothing: subpixel-antialiased;
}

nav {
	width: 100%;
}

.header-group {
	margin-bottom: 16px;
}

.header-group h1, .header-group body h2, body .header-group h2, .header-group body h3, body .header-group h3 {
	margin: 0;
}

body .container {
	padding: 0 16px;
}

#wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	max-height: 100vh;
	padding-top: 16px;
}

#wrapper.owl-header {
	top: 162px;
}

footer ~ #wrapper {
	bottom: 44px;
}

/*.iscroll--on {
	
#wrapper, #modal-scroll{
	position: relative;
	z-index: 100;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #EFEFF4;
	overflow: hidden;
	height: 100vh;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
}*/

.content {
	margin-top: env(safe-area-inset-top);
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-left);
	padding-bottom: 64px;
}

.iScrollVerticalScrollbar {
	position: absolute;
	top: 64px;
	right: 0;
	bottom: 66px;
	top: env(safe-area-inset-bottom);
	background: transparent;
	width: 6px;
}

.header__placeholder {
	height: 64px;
}

.footer__placeholder {
	height: 64px;
}

.iScrollIndicator {
	background: rgba(0, 0, 0, 0.25);
	width: 4px;
	border-radius: 30px;
}

@media only screen and (min-width: 993px) {
	.content {
		margin-top: 24px;
	}
}
