.btn {
	padding: 15px 16px;
	text-transform: uppercase;
	transition: all .22s;
	&:focus {
		outline: none;
	}
	
	&--xs {
		padding: 4px 8px;
		font-size: 11px;
	}
	&--sm {
		
	}
	&--lg {
		
	}
	&--rounded {
		border-radius: 10.5px;
	}
	
	&--primary {
		background: $primary;
		border: 1px solid $primary;
		color: #9B9B9B;
	}
	&--default {
		background: transparent;
		border: 1px solid $light-grey;
		color: #9B9B9B;
		&:hover {
			background: $light-grey;
			outline: none;
		}	
	}
	&--book {
		background: transparent;
		border: 1px solid $success;
		color: #9B9B9B;
	}
	&--cancel {
		
	}
	
	&__social {
		&--amz {
			
		}
		&--fb {
			
		}
		&--g{
			
		}
		&--mv {
			
		}
	}
}
