.btn {
	padding: 15px 16px;
	text-transform: uppercase;
	transition: all .22s;
	font-size: 17px;
	letter-spacing: 1px;
	font-weight: normal;
	border-radius: 12px;
	&:focus {
		outline: none!important;
	}
	
	
	&--xs {
		padding: 4px 8px;
		font-size: 11px;
	}
	&--block {
		width: 100%;
		padding: 15px 16px;
	}
	
	&--sm {
		
	}
	&--lg {
		
	}
	&--rounded {
		border-radius: 10.5px;
	}
	
	&--primary {
		background: $primary;
		border: 1px solid $primary;
		color: $white;
		
	}
	&--default {
		background: transparent;
		border: 1px solid $light-grey;
		color: #9B9B9B;
		&:hover {
			background: $light-grey;
			outline: none;
		}	
	}
	&--book {
		background: $book;
		border: 1px solid $book;
		color: $white!important;
		border-radius: 8px!important;
		&:active {
			background: #539707;
			color: $white;
			outline: none;
	
		}
	}
	&--cancel {
		
	}
	
	&__social {
		&--amz {
			
		}
		&--fb {
			
		}
		&--g{
			
		}
		&--mv {
			
		}
	}
}
