.form-control--switch {
	width: 100%;
	display: flex;
	align-items: center;
	height: 44px;
	span {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	input[type="checkbox"]{
		border: 0; 
		clip: rect(0 0 0 0); 
		height: 1px; margin: -1px; 
		overflow: hidden; 
		padding: 0; 
		position: absolute; 
		width: 1px;
		
		& + span{
			&:after, &:before{
				transition:all .24s ease;
				content:'';
				display: block;
				position: absolute;
				right: 0;
				width:51px;
				height:31px;
				background-color:#fff;
				vertical-align:-5px;
				margin-right:16px;	
				border-radius: 40px;
				top: calc(50% - 14.5px);
				box-shadow:  inset 0px 0px 0px 0px #4CD964;
			}
			&:after {
				border: 1px solid rgba(0,0,0,0.10);
			}
			
			&:before {
				right: 21px;
				width: 28px;
				height: 28px;
				margin-top: 1px;
				z-index: 2;
				margin-right:17px;	
				/* Knob: */
				background: #FFFFFF;
				
				box-shadow: 0 3px 1px 0 rgba(0,0,0,.01), 0 2px 2px 0 rgba(0,0,0,0.15), 0 3px 3px 0 rgba(0,0,0,0.05);
				border: 1px solid rgba(0,0,0,0.05);
				
			}
		}
		
		&:checked + span:after{
			box-shadow: inset 0px 0px 0px 30px #4CD964;
			border: 1px solid #4CD964;
			z-index: 1;
		}
		&:checked + span:before {
			background: #fff;
			border-radius: 30px;
			
			transform:translate3d(20px,0,0) ;
			
		}
	}
}