.form-control--input {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	label {
		width: 100%;
	}
	input, select {
		 width: 100%;
		 padding-left: 16px;
		 font: 17px "SF Pro Display";
		 padding: 0 16px 0 16px;
		 background: url(../images/glyph/glyph-carot.svg) no-repeat center right transparent;
		 border: none;
		 transition: background .3s ease-in-out;
		 text-indent: 2px;
		 appearance: none;
		 -webkit-appearance: none;
		 text-decoration: none;
		
		&:focus {
			outline: none;
			background: url(../images/glyph/glyph-carot.svg) no-repeat 110%  center transparent;
		}
	}
	.text{
		width: auto;
	}
	input[type=date] {
		 text-align: right;
		 display: flex;
		 position: relative;
		 width: 100%;
		 &::-webkit-inner-spin-button {
		 	background: red;
		 	display: none;
		 }
		 &::-webkit-calendar-picker-indicator {
			display: none;
		}
		 &::-webkit-datetime-edit {
		
		}
		&:focus {
			&::-webkit-clear-button {
				display: block;
			}
		}
		&::-webkit-clear-button {
			display: none;
		}
		
	}
}
