.form-control--input {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	label {
		width: 100%;
	}
	input, select {
		 width: 100%;
		 margin-left: 16px;
		 font: 17px "SF Pro Display";
		 text-align: right;
		 padding: 0 0 0 16px;
		 background: url(../images/glyph/glyph-carot.svg) no-repeat center right transparent;
		 border: none;
		 -webkit-appearance: none;
		
		&:focus {
			outline: none;
		}
	}
}
