
.form-group--radio {
	width: 100%;
	display: flex;
	align-items: center;
	margin-left: 32px;
}

.form-control--radio {
	display: flex;
	align-items: center;
	span {}

	input[type="radio"]{
		border: 0; 
		clip: rect(0 0 0 0); 
		height: 1px; margin: -1px; 
		overflow: hidden; 
		padding: 0; 
		position: absolute; 
		width: 1px;
		
		& + span{
			&:before{
				transition:all .24s ease;
				content:'';
				display: block;
				position: absolute;
				left: 16px;
				width:22px;
				height:22px;
				background-color:#fff;
				vertical-align:-5px;
				border-radius: 40px;
				top: calc(50% - 11px);
				box-shadow: inset 0px 0px 0px 0px $white;
				border: 1px solid $light-grey;
			}			
		}
		
		&:checked + span:before {
			background: $primary;
			box-shadow: inset 0px 0px 0px 4px $white;
			border-color: $primary;
		}
	}
}