.owl {
	&-carousel {
		background: rgba(255,255,255,.54);
		border-bottom:.5px solid rgba(0,0,0,0);
		-webkit-backdrop-filter:blur(20px);
	}
	&-stage {
		position: relative;
		padding-bottom: 16px;
	}
	&-dots{
		display: flex;
		justify-content: center;
		bottom: 8px;
		position: absolute;
		width: 100%;
		.owl-dot {
			width: 6px;
			height: 6px;
			background:rgba(0,0,0,.1);
			z-index: 1000;
			display: block;
			margin-right: 8px;
			border-radius: 30px;
			transition: background .3s;
			&.active {
				background:rgba(0,0,0,.5);
			}
		}
	}
	&-next {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		background: url(../images/glyph/glyph-carot.svg) no-repeat center center;
		transition: opacity 1s ease-in-out 0s;
		width: 16px;
		&.disabled {
			opacity: .1;
		}
	}
	&-prev {
		position: absolute;
		left: 0;
		height: 100%;
		top: 0;
		background: url(../images/glyph/glyph-carot-left.svg) no-repeat center center;
		transition: opacity 1s ease-in-out 0s;
		width: 16px;
		&.disabled {
			opacity: .1;
		}
	}
	&-item {
		margin: 0!important;
	}
	&-stage-outer {
	
	}
}

.cal {
	position: fixed;
	top: 63px;
	z-index: 100;
	height: 68px;
	width: auto;
	left: 0;
	right: 0;
	width: 100vw;

	
	&__week {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-top: 16px;
		margin-bottom: 16px;
		padding: 0 16px;
		width: 100%;

	}
	
	&__day {
		margin-top: 24px;
		text-align: center;
		width: 48px;
		height: 48px;
		display: flex;
		flex-wrap: wrap;
		margin: 1px;
		&--active {
			box-shadow: 0 5px 10px -6px rgba(74,74,74,0.54);
			border-radius: 3px;
			background: $white;
			
		}
		&--inactive {
			.day__number {
				color: rgba(74, 74, 74, 0.74);	
			}
			.day__name {
				color: rgba(74, 74, 74, 0.74);	
			}
		}
		&--waitlist {
			
		}
		&--disabled {
			.day__number {
				color: $light-grey;	
			}
			.day__name {
				color: $light-grey;
			}
		}
	}
}

.indicator {
	&__page {
		display: flex;
		height: 6px;
		justify-content: space-between;
		width: 80px;
		margin: 0 auto;
		margin-top: 0px;
		position: absolute;
		bottom: 8px;
		left: 50%;
		margin-left: -40px;
		z-index: 101;
		bottom: -10px;
	}
	
	&__disc {
		width: 4px;
		height: 4px;
		background: $light-grey;
		border-radius: 6px;
		&--active {
			background: $black;
		}
	}
	
	&__carot {
		position: absolute;
		height: 100%;
		top: 0;
		text-indent: -10000px;
		display: block;
		width: 16px;
		&--left {
			@extend .indicator__carot;
			position: absolute;
			left: 8px;
			background: url(../images/glyph/glyph-carot-left.svg) no-repeat center center;
		}
		&--right {
			@extend .indicator__carot;
			position: absolute;
			right: 8px;	
			background: url(../images/glyph/glyph-carot.svg) no-repeat center center;
		}
		
	}
	

}

.day {
	&__number {
		font-size: 17px;
		color: #000000;	
		display: block;
		width: 100%;
		line-height: 20px;
		margin-top: 5px;
	}
	&__name {
		/* MON: */
		font-size: 11px;
		color: #000000;
		text-transform: uppercase;
		display: block;
		width: 100%;
		line-height: 13px;
		margin-bottom: 5px;
	}
}


.cal + #wrapper {
	padding-top: 110px;
}