.cell{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 16px;
	position: relative;
	
	&--location {
		max-height: 55px;
	}
	&--carot {
		margin-right: 32px;
	}
	
	&__group {	
		&--align-right {
			text-align: right;
		}
	}
	&:after {
		height: 1px;
		content: '';
		border-bottom: .5px solid $dark-grey;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 16px;	
	}
	&:last-child:after {
		display: none;
	}
	&--form-group {
		max-height: 44px;
	}
}