.cell{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 16px;
	position: relative;
	min-height: 44px;
	&--location {
		min-height: 55px;
	}
	&--carot {
		margin-right: 32px;
	}
	&__label {
		min-width: 56px;
		width: 25%;
	}
	
	&__group {	
		align-items: center;
		&--options {
			text-align: right;
			flex-shrink: 1;
			align-self: center;
		}
		
		&--align-right {
			text-align: right;
			justify-content: flex-end;
		}
		&--align-left {
			text-align: left;
			justify-content: flex-start;
			width: 100%;
			
		}
		&--list {
			display: flex;
			align-items: center;
			.text{
				display: flex;
				align-items:center;
				&:after {
					width: 3px;
					height: 3px;
					background: url(../images/glyph/glyph-disc.svg);
					display: block;
					content: '';
					margin: 0 4px;
				}
				&:last-child:after {
					display: none;
				}
			}
			
		
		}
	}
	&--clickable {
		background: url(../images/glyph/glyph-carot.svg) center no-repeat;
		background-position-x: calc(100% - 16px);
	}
	
	&:after {
		height: 1px;
		content: '';
		border-bottom: .5px solid $dark-grey;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 16px;	
	}
	&:last-child:after {
		display: none;
	}
	&--form-group {
		max-height: 44px;
	}

}

&--wide, &--full {
	margin: 0 -8px 24px;
	border-radius: 6px;
	.cell {
		padding: 16px;
		&--clickable {
			background: url(../images/glyph/glyph-carot.svg) center no-repeat;
			background-position-x: calc(100% - 8px);
		}
	}
}

@media only screen and (max-width: 993px) {
	.module--wide {
		.cell {
			padding: 8px 16px;
			&--clickable {
				background-position-x: calc(100% - 16px);
				padding: 8px 40px 8px 16px;
			}
		}
		
	}
	
	.module--full {
		.cell {
			padding: 8px 24px ;
			&--clickable {
				background-position-x: calc(100% - 16px);
			}
			&:after {
				margin-left: 8px;
			}
		}
	}
}