footer {
	display: flex;
	position: fixed;
	width: 100%;
	bottom: 0px;
	background-color: rgba(255,255,255,.9);
	-webkit-backdrop-filter: blur(10px);
	padding-bottom: env(safe-area-inset-bottom);
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
	z-index: 100;
	box-shadow: 0px -1px 0px rgba(0,0,0,.1);
	
	nav{
		display: flex;
		padding-top: 4px;
		padding-bottom: 16px;
		margin-bottom: env(safe-area-inset-bottom);
		a{
			&:hover {
				text-decoration: none;
				cursor: pointer;
			}
		}
		& > div {
			width: 100%;
			text-align: center;
			align-self: stretch;
			font-size: 11px;
			font-weight:50000;
			text-align: center;
		}
		
		.active {
			.tab-title {
				color: $primary;
			}
			.tab-icon {
				background: url(../images/nav/tab-1-active.svg) no-repeat center;
			}
		}
		.tab-title {
			color: #9B9B9B;
			&:hover {
				color: $primary;
			}
		}
		.commuter {
			.tab-icon {
				background: url(../images/nav/tab-1-inactive.svg) no-repeat center;
				height: 23px;
				width: 48px;
				display: block;
				margin: 0 auto;
				margin-top: 5px;
				margin-bottom: 2px;
			}
			&.active {
				.tab-icon {
					background: url(../images/nav/tab-1-active.svg) no-repeat center;
				}
			}
		}
		
		.fixed {
			@extend .commuter;
			.tab-icon {
				background: url(../images/nav/tab-3-inactive.svg) no-repeat center;
			}
			&.active {
				.tab-icon {
					background: url(../images/nav/tab-3-active.svg) no-repeat center;
				}
			}
		}
		.demand {
			@extend .commuter;
			.tab-icon {
				background: url(../images/nav/tab-2-inactive.svg) no-repeat center;
			}
			
			&.active {
				.tab-icon {
					background: url(../images/nav/tab-2-active.svg) no-repeat center;
				}
			}
		}
		.trips {
			@extend .commuter;
			.tab-icon {
				background: url(../images/nav/tab-4-inactive.svg) no-repeat center;
			}
			&.active {
				.tab-icon {
					background: url(../images/nav/tab-4-active.svg) no-repeat center;
				}
			}
		}
		.menu {
			@extend .commuter;
			.tab-icon {
				background: url(../images/nav/tab-5-inactive.svg) no-repeat center;
			}
			&.active {
				.tab-icon {
					background: url(../images/nav/tab-5-active.svg) no-repeat center;
				}
			}
		}
	}
}