.header__desktop {
	transition: all .6s;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	background: rgb(239, 238, 243);
	border-bottom:.5px solid rgba(0,0,0,0);
	-webkit-backdrop-filter:blur(20px);
	padding: 4px 16px;
	nav{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 0px;
		z-index: 100;
		a{
			padding: 16px;
		}
	}
	.header-group {
		width: 100%;
		margin-bottom: 0;
		.title {
			font-size: 17px;
		}
		
		.headline {
			margin-bottom: 0;
			font-size: 14px;
		}
	}
	.header__branding {
		display: flex;
		align-items: center;
	}
	
	.header__logo {
		width: 120px;
		height: 60px;
		background: pink;
		display: block;
		margin-right: 16px;
	}
	nav {
		a{
			&.menu {
				background: url(../images/nav/tab-5-inactive.svg) no-repeat center;
				text-indent: -10000px;
			}
		}
	}
}


.scrolled {
	.header__desktop {
		background: rgba(255,255,255,.84);
		transition: background .65s, opacity .65s, -webkit-backdrop-filter 0s;
		border-bottom:.5px solid rgba(0,0,0,.12);	
		-webkit-backdrop-filter:blur(10px)
	}
}

.header__mobile {
	transition: all .6s;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 10;
	min-height: 64px;
	display: flex;
	align-items: flex-end;
	background: rgb(239, 238, 243);
	border-bottom:.5px solid rgba(0,0,0,0);
	-webkit-backdrop-filter:blur(20px);
	padding-top: env(safe-area-inset-top);
	&:before {
		content: '';
		height: env(safe-area-inset-top);
		top: 0;
		display: block;
		background: rgba(0, 121, 255, 0.58);
		position: fixed;
		width: 100%;	
	}
	
	nav{
	    padding-top: 16px;
	    padding-top: -safe-area-inset-top;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0px;
		z-index: 100;
		
		a{
			color: #007AFF;	
			font-size: 17px;
			height: 44px;
			align-items: center;
			display: flex;
			&.left {
				background: url(../images/nav/glyph-header-right.svg) no-repeat 9px center ;
				padding-left: 26px;
				padding-right: 15px;
			}
			&.right {
				padding-right: 9px;
				padding-left: 15px;
			}
		}	
	}
	
	.header-group {		
		&-stuck {
			opacity: 0;
			transition: background .2s, opacity .2s, border-bottom .2s, -webkit-backdrop-filter .2s;
			text-align: center;
			align-self: center;
			.title {
				font-size: 17px;
				color: #4A4A4A;
			}
			
			.headline {
				margin-bottom: 0;
				font-size: 13px;
				color: #4A4A4A;
				font-weight:400;
				letter-spacing: 1px;
				line-height: 15px;
				padding-bottom:5px;
			}
		}
	}
	
	.header-group-stuck {
		align-self: flex-end;
		opacity: 0;
		.title{
			font-size: 17px;
			margin: 0;
		}
		.headline {
			font-size: 12px;
		}

	}
}

.scrolled {
	.header__mobile {
		transition: background .65s, opacity .65s, -webkit-backdrop-filter 0s;
		background: rgba(255,255,255,.9);
		border-bottom:.5px solid rgba(0,0,0,.12);	
		.header-group-stuck {
			opacity: 1;
		}
		.header-group {
			opacity: 0;
			transition: all 1s;
		}
	}
	
}

.scroll--locked {
	background: rgba(255,255,255,.54);
	.header-group {
		opacity: 1;
	}
	.header-group-stuck {
		opacity: 1;
		
	}
}

.header-group {
	transition: all .3s;	
}

.position {
	position: -webkit-sticky;
	bottom: 210px;
	left: 0;
	z-index: 10000;
}

@media only screen and (max-width: 993px) {
	.header-group {
		padding:0 16px!important;
	}
}