$black: #030303;
$white: #ffffff;
$body-bg: #EFEFF4;

$primary: #007AFF;
$notice: #F76D1D;
$warning: #D0021B;
$available: #60AD06;
$success: #60AD06;

$pickup: #4A90E2;
$dropoff: #417505;

//grey
$light-grey: rgba(0,0,0,.1);
$dark-grey: rgba(0,0,0,.25);
$grey: #9B9B9B;
$footnote:#6D6D72;

//Purple Gradient
$purple1: #9013FE;
$purple2: #C32AFF;


//Blue Gradient
$blue1: #4A90E2;
$blue2: #7BB8FF;


//Orange Gradient
$orange1:#FAD961;
$orange2:#F76B1C;

