$black: #030303;
$body-bg: grey;

$dark-grey: rgba(0,0,0,.5);
$light-grey: #9B9B9B;


//Purple Gradient
$purple1: #3023AE;
$purple2: #C86DD7;

//Blue Gradient
$blue1: #4A90E2;
$blue2: #7BB8FF;


//Orange Gradient
$orange1:#FAD961;
$orange2:#F76B1C;