@import "frameworks/ios-variables";

body {
	font-family: 'SF Pro Text';
	color: $black;
	-webkit-font-smoothing: antialiased;
	padding: 0;

	
	h1 {
		font-family: 'SF Pro Display';
		font-size: 28px;
		letter-spacing: .34px;
		word-spacing: .11px;
		font-weight: 500;
		color: $black;
		&.title {
			font-size: 34px;
			letter-spacing: .41px;
			word-spacing: .13px;
			font-weight: 600;
		}
	}
	h2 {
		@extend h1; 
		font-size: 22px;
		letter-spacing: .28px;
		word-spacing: .16px;
	}
	
	h3 {
		@extend h1;
		font-size: 20px;
		letter-spacing: .25px;
		word-spacing: .19px;
	}
	p{
		font: 17px "SF Pro Display";
		letter-spacing: .22px;
		line-height: 24px;
		&.headline {
			color: $grey;
			font-weight: 600;
		}
	}
	footnote {
		font-size: 13px;
		letter-spacing: .13px;
		line-height:  14px;
	}
	
	.text-sm {
		@extend footnote;
	}
	
	label, .text-value {
		@extend p;
		margin-bottom: 0;
		line-height: 1;
	}
}


.text {
	font: 16px "SF Pro Display";
	letter-spacing: .22px;
	line-height: 24px;
	margin-bottom: 0;
	
	&-group {
		display: flex;
		width: 100%;
		align-items: flex-end;
		align-self: center;
	}
	
	&__time {
		&--from {
			&:after {
				background: url(../images/glyph/glyph-arrow-right.svg) no-repeat center center;
				width: 16px;
				height: 12px;
				content: '';
				display: inline-block;
				margin:  0 4px;
			}
		}
	}
	&--headline {
		color: $black;
		font-weight: 600;
		margin-right: 8px;
	}
	&--callout {
		font-size: 16px;
		color: #4A4A4A;
	}
	
	&--caption {
		font-size: 13px;
		color: #4A4A4A;
	}
	
	&--default {
		letter-spacing: .22px;
		line-height: 24px;
		margin-bottom: 0;
		margin-top: 4px;
	}
		
	&--secondary {
		line-height:  14px;
		margin-bottom: 4px;
		font-size: 12px;
	}
	&--available {
		color: $available;
	}
	&--link {
		color: $primary;
	}
	
	&--warning {
		color:  $warning;
	}
	&--waitlist {
		color: $notice;
	}
	&--pickup {
		color: $pickup;
	}
	&--dropoff {
		color: $dropoff;
	}
}

