@import "frameworks/ios";
@import "partials/typography/sf";
@import "partials/forms/radio";
@import "partials/forms/switch";
@import "partials/forms/input";
@import "partials/forms/toggle";
@import "partials/forms/buttons";
@import "partials/forms/daypicker";
@import "modules/modal";
@import "partials/maps/mast";
@import "modules/cell";
@import "modules/module";
@import "modules/header";
@import "modules/footer";
@import "modules/carousel";
@import "modules/calender-carousel";

body, html {
	background: $body-bg;
	-webkit-font-smoothing: subpixel-antialiased;	
}

nav {
	width: 100%;
}

.header-group {
	margin-bottom: 16px;
	h1 {
		margin: 0;	
	}
}

body {
	.container, .container-fluid {
		padding: 0 16px;		
	}		
}

#wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	max-height: 100vh;
	z-index: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;

}

::-webkit-scrollbar-thumb {
	width: 5px;
	height: 5px;
	background: rgba(0,0,0,.3);
	border-radius: 30px;

	
}

#wrapper::-webkit-scrollbar-track {


}
#wrapper::-webkit-scrollbar-track-piece:start {
	margin-top: 61px;
}

#wrapper::-webkit-scrollbar-track-piece:end {
	margin-bottom: 65px;
}


.cal ~ #wrapper::-webkit-scrollbar-track-piece:start  {
	margin-top: 162px;
}
.page-wrapper {
	height: 100vh;
	position: relative;

}

#wrapper.owl-header{
	top: 162px;
}

footer ~ #wrapper {
	bottom: 44px;
}
.content {
padding-top: 64px;
padding-bottom: 80px;

}

/*.iscroll--on {
	
#wrapper, #modal-scroll{
	position: relative;
	z-index: 100;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #EFEFF4;
	overflow: hidden;
	height: 100vh;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
}*/
.content {
	margin-top: env(safe-area-inset-top);
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-left);
	padding-bottom: 64px;
}


.iScrollVerticalScrollbar {
	position: absolute;
	top: 64px;
	right: 0;
	bottom: 66px;
	top: env(safe-area-inset-bottom);
	background: transparent;
	width: 6px;
}

.header__placeholder {
	height: 64px;
}

.footer__placeholder {
	height: 64px;
}
.iScrollIndicator {
	background: rgba(0,0,0,.25);
	width: 4px;	
	border-radius: 30px;
}

@media only screen and (min-width: 993px) {
	.content{
		
	}
}

@media only screen and (max-width: 993px) {

}

