@import "partials/typography/sf";
@import "frameworks/ios";
@import "partials/forms/checkbox";
@import "partials/forms/input";
@import "modules/cell";
@import "modules/module";
@import "modules/header";
@import "modules/footer";
@import "modules/carousel";

body, html {
	background: #EFEFF4;
	-webkit-font-smoothing: subpixel-antialiased;
}

.header-group {
	margin-bottom: 16px;
	h1 {
		margin: 0;	
	}
}

body .container {
	padding: 0 16px;
}


#wrapper {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #EFEFF4;
	overflow: hidden;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.content {
	padding-top: calc(114px - 44px);
	padding-bottom: 114px;
}


.iScrollVerticalScrollbar {
	position: absolute;
	top: 44px;
	right: 0;
	bottom: 88px;
	background: transparent;
	width: 6px;
}

.iScrollIndicator {
	background: rgba(0,0,0,.25);
	width: 4px;	
	border-radius: 30px;
}
